header {
    height: 50px;
    font-size: 36px;
    padding: 2px;
    text-align: center; }
    header a {
        color: black;
        font-weight: bold;
        text-decoration: none; }

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

/* smart phones */
@media screen and (max-device-width: 480px) {
}


/* vimcolor */
pre, pre code { font-family: "Monaco", monospace; }
pre {
    border: 1px solid #ccc;
    background-color: #eee;
    border: 1px solid #888;
    padding: 1em;
    overflow:auto;
}
.synComment { color: #0000FF }
.synConstant { color: #FF00FF }
.synIdentifier { color: #008B8B }
.synStatement { color: #A52A2A ; font-weight: bold }
.synPreProc { color: #A020F0 }
.synType { color: #2E8B57 ; font-weight: bold }
.synSpecial { color: #6A5ACD }
.synUnderlined { color: #000000 ; text-decoration: underline }
.synError { color: #FFFFFF ; background: #FF9999 none }
.synTodo { color: #0000FF ; background: #FFFF00 none }

/* lines */
td.line_numbers {
    font-family: "Monaco", monospace;
    padding: 1em;
    font-size: 1em;
}
td.line_numbers a {
    text-align: right;
    display: block;
}

td.line_numbers a:link {
    color: black;
    text-decoration: none;
}
